
.float{

    /* background-color: #00bb2d; verde más oscuro*/ 
    bottom:40px;
	height:60px;
    position:fixed;
	right:50px;
    width:60px;
    z-index:100;
   /* box-shadow: 0 15px 25px rgba(0,0,0,.5);*/

}





