ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

li {
    list-style: none;
}

a {
    color: #424242;
    margin: 45px;
}

section {
    height: 400px;
}

.nosotros {
    background-color: beige;
}